@using Microsoft.AspNetCore.Identity
@model IEnumerable<identityWithChristina.Models.Category>
@inject SignInManager<ApplicationUser> signInManager;
@{
    Layout = "_Layout1";
    ViewData["Title"] = "Categories";
}

<link href="~/css/css/main.css" />
<link href="~/css/css/style.css" />
<!-- breadcrumb-section -->

	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Choose Whatever You Intersted In</p>
						<h1 class="categories">Categories</h1>
					</div>
				</div>
			</div>
		</div>
	</div>

   <!--Categories-->
     @if (User.IsInRole("Admin"))
     {
 <div class="product-section mt-100 mb-150">
		<div class="container">
			<div class="row">
                <div class="col-md-12">
                    <div class="product-filters">
					
                        <ul >
                            <li class="active" data-filter="*"> <a asp-controller="Categories" asp-action="Create" class="cart-btn">Create Category</a> </li>
						
						
                        </ul>
						

                    </div>
                </div>
            </div>
            </div>
            </div>	

}
          <div class="product-section mt-150 mb-150">
		     <div class="container">
			   <div class="row">
				 <div class="col-md-12">
					<div class="row product-lists">

						@foreach (var item in Model) {
						<div class="col-lg-4 col-md-6 text-center strawberry">
								<div class="product-image" style="margin-bottom:40px;">
									<a asp-controller="Products" asp-action="Filter" asp-route-id="@item.CategoryId"><img src="@Url.Content(item.PhotoUrl)" alt=""></a>
								</div>
							<div>
								<h3>@Html.DisplayFor(modelItem => item.CategoryName)</h3>
								@if(!User.IsInRole("Admin"))
								{
									<a asp-controller="Products" asp-action="Filter" asp-route-id="@item.CategoryId" class="cart-btn"><i class="fas fa"></i> View Products</a>
								}
								@if(User.IsInRole("Admin"))
								{
								<a asp-controller="Categories" asp-action="Edit" asp-route-id="@item.CategoryId" class="cart-btn">Edit Category</a>
								<a asp-controller="Categories" asp-action="Delete" asp-route-id="@item.CategoryId" class="cart-btn"> Delete Category</a>	
								}
							</div>
						</div>
						}

					</div>
					</div>
				</div>
			</div>
		</div>

		<!-- end categories -->
							 <link rel="stylesheet" href="~/css/css/style.css" />

