@model IEnumerable<Association>

@{
    Layout="_Layout1";
    ViewBag.Title = "Admin Donations";
}
<link rel="stylesheet" href="~/css/css/donate.css" />
<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Donation Instituations Information Details</p>
						<h1>Donation Instituations</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- cart -->
	<div class="cart-section mt-150 mb-150">
		<div class="container">
            <div class="row">
             
            @if(Model !=null)
            {
              @foreach(var association in Model)
            {
                if (association != null)
                {
             <div class="col-sm">
                 <div class="car">
                        <div class="car-img"><img src="@association.AssLogoUrl" width="100%"></div>
                        <div></div>
                        <div class="car-detail">
                            <div class="car-width">
                                <div class="address"> @association.Assname </div>
                                <div class="address"> @association.AssAddress </div>
                                <div class="car-info">@association.AssDescription </div>
                                <button><a class="btn" asp-action="Edit" asp-route-id=" @association.Assid" asp-controller="Associations" >Edit Associaction Info</a></button><br>
                                <button><a class="btn" asp-action="Delete" asp-route-id=" @association.Assid" asp-controller="Associations" onclick="return confirm('do you want to delete @association.Assname association')">Delete Associaction Info</a></button>
@*                               <button> <a  class="btn" > @Html.ActionLink("Delete Association","Delete",new { id=association.Assid},new { onclick=$"return confirm('do you want to delete {@association.Assname} association')"}) </a></button>
*@                            </div>
                        </div>
                    </div>  
                 </div>
                }
            }   
            }
            </div>
@*              <button type="button" class="btn btn-info"  style="text-align:center"><a style="color:white;" asp-action="Create" asp-controller="Associations">Create Association</a></button>
*@           
              
               

                   
            </div>
        </div>
	</div>
	<!-- end cart -->
               
