@model identityWithChristina.Models.Product


@{
    
    Layout = "_Layout1";
    ViewData["Title"] = "Delete Product";
}
<h3 class="mt-5 text-center">Are you sure you want to delete this?</h3>
<div class="col-6" style="margin: 10px auto;">
    <h4 class="text-center">Product @Model.ProductName</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Points)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Points)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.PhotoUrl)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.PhotoUrl)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Category.CategoryId)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.OwnerUser)
        </dt>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductId" />
        <input type="submit" value="Delete" /> 
        <a asp-action="Index" class="cart-btn pbtn justify-content-center btn-danger back">Back to List</a>
    </form>
</div>