
@model identityWithChristina.Models.ApplicationUser

@{
    ViewData["Title"] = "profile";
    Layout = "~/Views/Shared/_Layout1.cshtml";

}
 <link rel="stylesheet" href="~/css/css/style.css" />
 <link rel="stylesheet" href="~/css/css/NewStyle.css" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <div class="container rounded bg-white mt-5 mb-5 procont">
        <div class="container bootstrap snippets bootdey">
            <div class="row">
                <div class="profile-nav col-md-3">
                    <div class="panel">
                        <div class="user-heading round" id="imgicon">
                            <a href="Profile Setting.html">
                                <img src=@Model.ProfilePictureUrl alt="">
                            </a>
                            <h1 class="text-capitalize">@Model.UserName</h1>
                            <p class="font-weight-bold">@Model.Email</p>
                        </div>
                        <div class="d-flex flex-column align-items-center text-center p-5 py-8">
                        <a asp-controller="Products" asp-action="MyProducts" class="btn btn-primary profile-button"  > <i class="fa fa-user"></i> My Products</a><br>
                            <a asp-controller="GeneralFeedbacks" asp-action="Create"> <button class="btn btn-primary profile-button" type="button">Give Feedback</button></a> <br />
                        </div>
                    </div>
                </div>
                <div class="profile-info col-md-9">
                    <div class="panel">
                        <div class="panel-body bio-graph-info">
                            <h1 class="bio-graph-heading">User Profile</h1>
                            <div class="row" style="padding:15px 0px;">
                                <div class="bio-row">
                                    <p class="text-capitalize"><span >First Name: </span>  @Model.UserName</p>
                                </div>
                                <div class="bio-row">
                                    <p class="text-capitalize"><span>Last Name: </span>  @Model.Lname</p>
                                </div>
                                <div class="bio-row">
                                    <p><span>Email: </span> @Model.Email</p>
                                </div>
                                <div class="bio-row">
                                    <p><span>City: </span>@Model.City</p>
                                </div>
                                <div class="bio-row">
                                    <p><span>Country: </span>@Model.Country</p>
                                </div>
                                <div class="bio-row">
                                    <p><span>Postal Code: </span>@Model.PostalCode</p>
                                </div>
                                <div class="bio-row">
                                    <p><span>Gender:</span>@Model.Gender</p>
                                </div>
                                <div class="bio-row">
                                    <p><span>Street: </span>@Model.Street</p>
                                </div>
                                <div class="bio-row">
                                    <p><span>Phone: </span>@Model.PhoneNumber</p>
                                </div>
                                <div class="bio-row">
                                    <p><span>Number Of Exchanges: </span> @Model.NumberOfExchanges</p>
                                </div>
                                <div class="btnprof justify-content-center text-center mt-4" >
                                    <a asp-action="Edit" asp-controller="User" class="text-center"> <button class="btn btn-danger profile-button " type="button">Edit Profile</button></a> <br />
                                </div>
                            </div>
                            

            </div>
            </div>
                    </div>
                </div>
            </div>
        </div>
    



 <link rel="stylesheet" href="~/css/profile.css" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

