@model identityWithChristina.ViewModel.CartViewModel

@{
	Layout = "_Layout1";
    ViewData["Title"] = "checkout";
}
<div class="checkout-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="checkout-accordion-wrap">
						<div class="accordion" id="accordionExample">
						 
						  
						  <div class="card single-accordion">
						    <div class="card-header" id="headingThree">
						      <h5 class="mb-0">
						        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						          Card Details
						        </button>
						      </h5>
						    </div>
						    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="card-details">	
									<div class="col-lg-4">
					         <div class="order-details-wrap">
					     	<table class="order-details">
							<thead>
								<tr>
									<th>Your order Details</th>
									<th>Points</th>
								</tr>
							</thead>
							<tbody class="order-details-body">
								<tr>
									<td>Product</td>
									<td>Points</td>
									<td>Discount</td>
									<td>Total</td>
								</tr>
										  
									@foreach(var item in Model.OrderDetails){
										<tr>
											<td><p>@item.Product.ProductName</p></td>
											<td><p>@item.PointsPerUnite</p></td>
											<td><p>@item.DisCount</p></td>
											<td><p>@item.NetPoints</p></td>
										</tr>
									}
									</tbody>
							<tbody class="checkout-details">
								<tr>
									<td>Subtotal</td>
									<td>@Model.Order.TotalPoints Points</td>
								</tr>
								<tr>
									<td>Shipping</td>
									<td>50 pts</td>
								</tr>
								<tr>
									<td>Total</td>
									<td>@(Model.Order.TotalPoints+50) Points</td>
								</tr>
							</tbody>
						</table>
						        </div>
						      </div>
						    </div>
						  </div>
						</div>

					</div>
				</div>

				 <div class="card single-accordion">
						    <div class="card-header" id="headingOne">
						      <h5 class="mb-0">
						        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						          Shipping Address
						        </button>
						      </h5>
						    </div>

						    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="billing-address-form">
						        	<form action="checkedOut.html" method="post">						        		
						        		<p><input asp-for="Order.ShipAddress"></p>
										 <div class="form-group">
                              <input asp-action="checkedOut" asp-controller="cart" type="submit" value="Save" class="btn btn-primary" />
                                    </div>
						        	</form>
						        </div>
						      </div>
						    </div>
						  </div>
			</div>
		</div>
	</div>
	</div>
	</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>

